<div class="preview">

  <div class='container'>
    <div class="row top padded">
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">


      <img src="assets/screenshot-1.jpeg" alt="" class="rounded float-left">

    </div>
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <div class="intro">
          How would you feel if you could send money seemlessly to anybody with them having to download or create account with paymiumm, using just transact-ID paymiumm users gets that extra freedom, how cool could that be.
        </div>
      </div>
    </div>
  </div>
</div>
